.body > a {
    border: 1px solid black;
    width : 195px;
    margin: 10px;
    padding : 10px;
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;

}

.shimmer-card {
    border: 1px solid black;
    width : 195px;
    margin: 10px;
    padding : 10px;
    display: flex;
    flex-direction: column;
}

.cuisines {
    overflow-wrap :break-word;
}
.card > img {
    width: 100%;
}

.body {
    display: flex;
    flex-wrap: wrap;
}


.input-search {
    display: flex;
    justify-content: center;
}

.input-search > input {
    width : 500px;
    padding : 10px;
    margin : 10px;
    font-size: 20px;;
    letter-spacing: 2px;
    border-radius: 10px;
}

.internetConError {

    text-align: center;
}